
/**
 * @file
 *
 * Affinity Module CSS
 *
 * @ingroup affinity
 */

  .affinity-match {
    margin-right: 15px;
  }

  .affinity-match-meter {
    background-color: #D2E6FE;
  }

  .affinity-match-scale {
    background-color: #92C2F3;
  }

  .affinity-match-value {
    position: relative;
    top: -1.6em;
    left: 0.5em;
    margin-bottom: -1em;
  }

// vim: set filetype=css expandtab tabstop=2 shiftwidth=2 autoindent smartindent nowrap:
