
/**
 * @file
 *
 * Affinity Module CSS
 *
 * @ingroup affinity
 */

  #block-affinity-0 .item-list ul li {
    list-style-image: none;
    list-style-type: none;
  }

  #block-affinity-0 .picture {
    float: left;
    padding-top: 7px;
    padding-right: 7px;
  }

  #block-affinity-0 img {
    width: 30px;
    max-height: 40px;
  }

  .affinity-match {
    clear: left;
  }

  .affinity-match-meter {
    margin-left: 37px;
    margin-right: 15px;
    background-color: #D2E6FE;
  }

  .affinity-match-scale {
    background-color: #92C2F3;
  }

  .affinity-match-value {
    position: relative;
    top: -1.6em;
    margin-left: 40px;
    margin-bottom: -1em;
  }

// vim: set filetype=css expandtab tabstop=2 shiftwidth=2 autoindent smartindent nowrap:
